<header id="header" class=" d-flex align-items-center ">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="logo me-auto">
      <h1><a href="index.html">Drinkapp</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto " href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/about" href="#about">About</a></li>
        <div class="dropdown">
          <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
            <div *ngFor="let c of categories">
              <li ><a  *ngIf="validCategorie(c.strCategory)" routerLink="/cocktail/{{c.strCategory}}" (click)="list(c.strCategory);" class="dropdown-item" >{{c.strCategory}}</a></li>
            </div>
                     
         </ul>
        </div>
        <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a routerLink="/reserv" class="book-a-table-btn scrollto">Book a table</a>

  </div>
</header>